body {
    margin: 0;
}

.App {
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 0;
}

.app-body {
    z-index: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-family: "Roboto", "sans-serif";
    text-align: center;
    text-transform: lowercase;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    height: 47px;
    /*FOR COLOR TEXT GRADIENT*/
    background: linear-gradient(100.37deg, #6F73D2 -1.85%, #FF6666 98.24%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-title {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    color: #5D2E8C;
    /*position: absolute; */
    width: 661px;
    height: 145px;
   /* left: 479px;
    top: 170px; */
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
    line-height: 145px;
    margin: 5px;

    /* identical to box height */
    font-feature-settings: 'cpsp' on;

}

.app-content {
    text-align: center;
    width: 661px;   
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#landing-header {
    /*width: 207px;
    top: 200px; */
    text-align: left;
}

#find-friends {
    /* find friends with the same frequency */
   /* width: 647px; */
   /* top: 400px; */   
    /* identical to box height */
    text-align: left;
    margin-bottom: 5px;
    /*rgba(111, 115, 210, 1); figure out how to apply gradient to text
    rgba(255, 102, 102, 1);*/
}

#landing-button {
   /* align-self: center; */
    width: 280px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    height: 75px;
    margin-top: 16px;  
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 17px 39px 17px 38px;
    filter: drop-shadow(0px 5px 15px rgba(111, 115, 210, 0.25));
}

#landing-button-text {
    /* start now */
    color: #FFFFFF;
    /* width: 4px;
    height: 4px;
    left: 4px;
    top: 4px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px; 
    /* identical to box height */   
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;     
}

.filled-button {
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    background: #FFFFFF;    
    mix-blend-mode: normal;
    border-radius: 50px;
    padding: 17px 38px 17px 38px;
    width: 736px;
    height: 75px;

    /* purple subtle shadow */

    filter: drop-shadow(0px 5px 15px rgba(111, 115, 210, 0.25));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login_button {
    /* align-self: flex-start; */
    /* right: 25%; */
    margin: 10px;
}

.filled-button-txt {
 /*   left: 5.57%;
    right: 5.71%;
    top: 28.77%;
    bottom: 28.77%; */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    align-items: center;
    /*text-align: center; */
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;
    color: #6F73D2;
}


.subtitle.please_login {
    /*top: 40%;
    left: 35%; */
    text-align: center;
    /* align-self: flex-start; */
    margin: 10px;
}

.login-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#start-button {
    /* top: 70%; */
    margin-top: 30px;
}

#spot_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.spot_button {
    padding: 5px;
    margin: 5px;
    /* color: 'inherit';
    size: 'large'; */
}

.app-content.questions {
    background: linear-gradient(125.24deg, rgba(165, 166, 246, 0.4) 6.2%, rgba(255, 102, 102, 0.4) 102.65%);
    mix-blend-mode: multiply;
    opacity: 0.9;
    border-radius: 20px;
    justify-content: flex-start;
    width: 583px;
    height: fit-content;
    min-height: 270px;
    min-width: 300px;
}

.questionaire_title {
    font-family: Roboto;
    color: #5D2E8C;
    mix-blend-mode: normal;
    align-self: flex-start;
    margin-left: 42px;
    margin-bottom: 10px;
}

.long_input, .short_input {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 10px 18px 10px 16px;
    margin-top: 30px;
    margin-left: 32px;
    height: 15px;
}

.long_input {
    align-self: flex-start;
    width: 40%;
}

.long_radio_input {
    background: #FFFFFF;
    border-radius: 50px;  
    height: 15px;
    padding: 10px 18px 10px 16px;
    width: 230px;
    margin-left: 0;
    align-self: flex-start;
}

.input_pair {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

.short_input {
    width: 30%;
    align-self: flex-start;
}
.questions2, .questions3 {
    justify-content: space-evenly;
}

.radio_buttons {
    z-index: 1;
    margin-bottom: 20px;
}

.radio_button {
    vertical-align: middle;
    margin: 0px;
}

.slider_title {
    margin-bottom: 30px;
}

.slider_content {
    padding: 0px 20px 0px 20px;
}

#slider {
    margin-bottom: 25px;
}

#radio_wrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 32px;
}

#long_radio_input_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*this is for the self-profile page*/

.sp_app {
    z-index: 1;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sp_v_body {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
}

.pp_h {
    margin-top: 0;
    top: 0px;
    background: linear-gradient(92.63deg, #FFB9B9 0%, #FFF4BC 100%);
    mix-blend-mode: normal;
    display: flex;
    width: 1920px;
    height: 280.65px;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.pp_img {
    width: 160px;
    height: 160px;
    display: inline-block;
    overflow: auto;
    border-radius: 50%;
    margin-right: 44px;
    margin-top: 65px;
    margin-left: 300px;
    margin-bottom: 55.65px;
}

.pp_v {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pp_pp {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 23px; */
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;
    color: #5D2E8C;
    text-transform: capitalize;
}

.pp_name {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 10px;
    /* line-height: 94px; */
    color: #5D2E8C;
}

.pp_details {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /* line-height: 23px; */
    color: #5D2E8C;
}

.sb_img {
    width: 55px;
    height: 55px;
    display: inline-block;
    overflow: visible;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 33px;
    margin-left: 20px;
    margin-bottom: 52px;
}

.sb_v {
    background:rgba(255, 255, 255, 0.75);
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 2;
    overflow-y: visible;
}

.sb_h {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

.sb_welcome {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 200px;
    margin-top: 0px;
}

.sb_option {
    margin: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sp_app_v {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1920px;
}

.m_h {
    z-index: 1;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #add8e6;

}

.deck_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 94px;
    color: #5D2E8C;
    margin-left: 250px;
}

.m_deck {
    width: 1920px;
    overflow-y: visible;
}


.mc_h {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
        /* yellow green */
    background: linear-gradient(92.63deg, #FFFDC8 0%, #C9FFD5 100%);
    mix-blend-mode: normal;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 50px;
    margin-left: 200px;
    filter: drop-shadow(0px 5px 15px rgba(111, 115, 210, 0.25));
}

.mc_img {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: auto;
    border-radius: 50%;
    margin-bottom: 60px;
}

.mc_data {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.mc_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #5D2E8C;
}

.mc_common {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #5D2E8C;
    mix-blend-mode: multiply;
}

.percent {
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #5D2E8C;
    mix-blend-mode: multiply;
    margin-bottom: 60px;
}

.match_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}




